<!DOCTYPE html>
<html>
  <head>
    <title>FireWater</title>
    <link rel="stylesheet" href="http://twitter.github.com/bootstrap/1.3.0/bootstrap.min.css" media="screen">
  </head>
  <body>
    <header class="topbar">
      <div class="fill">
        <div class="container">
          <h3 id="title">FireWater</h3>
          <ul class="nav secondary-nav">
              <li><a href="#">My Account</a></li>
              <li><a href="#">Log In</a></li>
          </ul>
        </div>
      </div>
    </header>
    <section id="primary">
      <div class="container">
        <ul>
          <% @liquors.each do |liquor| %>
            <li><%= liquor["BRAND NAME"] %> – <%= liquor["MINIMUM"] %></li>
          <% end %>
        </ul>
      </div>
    </section>
    <footer id="footer">
      <div class="inner">
        <div class="container">
          <p>© FireWater, 2011</p>
        </div>
      </div>
    </div>
  </body>
</html>
